[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/girijasundar
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/girijasundar
	label-Code-Review = -2..+2 group user/mohan5246
	label-Verified = -1..+1 group user/girijasundar
	push = group user/girijasundar
	read = group user/girijasundar
	rebase = group user/girijasundar
	removeReviewer = group user/girijasundar
	submit = group user/girijasundar
[access "refs/heads/*"]
	create = group user/girijasundar
	push = +force group user/girijasundar
	pushMerge = group user/girijasundar
	read = group user/girijasundar
[access "refs/tags/*"]
	push = group user/girijasundar
	push = +force group user/girijasundar
